* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font: 14px Roboto, Futura, Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

li button {
    padding: 2px 4px;
    margin-top: 5px;
    width: 135px;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

@media (max-width: 400px) {
    body {
        margin-top: 10px;
    }
}
